
.detail-tab {
    z-index: 100;
    /* color: white; */
}

.span-padding-right-10 {
    padding-right: 10px;
}

.span-padding-right-20 {
    padding-right: 20px;
}

.detail-movie-list {
    margin-top: 20px;
    color: white;
}