
.midd {

    display: flex !important;
    align-items: center;

    /* display: inline-block !important;
    vertical-align: middle; */
}

#title{

    margin-right: 20px;
    
    font-size: 23px;
    font-weight: 600;

}

.title-hover {
    cursor: pointer;
}